.submit-file-modal {
  position: relative;
  top: 25%;
}

.submit-file-modal-backdrop {
  z-index: 1050;
  backdrop-filter: blur(2px);
}

.problem-set-cards {
  background: #fff;
  margin-top: 30px;
  border-radius: 6px;

  h3 {
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.apt-card {
  background: #F7F7FA;
  margin-top: 30px;
  border-radius: 6px;

  h3 {
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.apt-card-section {
  background: white;
}

.input-output-box {
  background: #F7F7FA;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  margin-bottom: 12px;
}

.performance-title {
  color: #575757;
}

.rs-theme-dark {
  .problem-set-cards {
    background: @B800-dark;
  }

  .apt-card {
    background: @B800-dark;
  }

  .apt-card-section {
    background: @B700-dark;
  }

  .input-output-box {
    background: @B900-dark;
  }

  .performance-title {
    color: @B100-dark;
  }
}