.textbook-page {
  background: @B100;
  margin-top: 12px;
}

.textbook-card {
  background: #fff;
  margin-top: 36px;
  border-radius: 6px;

  h3 {
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}