.textbook-page {
  //background: @B100;
  margin-top: 12px;

  .chapter-panel-group {
    background: @B100;
    border-radius: 12px;

    .rs-panel-body {
      background: #FFFFFF;
      padding: 0;
    }
  }
}

.textbook-card {
  background: #fff;
  margin-top: -28px;
  border-radius: 6px;

  h3 {
    line-height: 22px;
    margin-top: 12px;
    font-size: 18px;
  }
}

.code-text-panel {
  background: @B100;
  border-radius: 8px;
  margin: 8px 0 8px 0;
  width: 100%;

  .rs-panel-header {
    padding-top: 16px;
  }

  .rs-panel-body {
    font-family: monospace;
  }
}

.code-editor-iframe {
  width:100%;
  height:500px;
  border:0;
  border-radius: 4px;
  overflow:hidden;
}

.mcq-form {
  background: @B100;
  border-radius: 8px;
  margin: 8px 0 8px 0;
  padding: 24px;
  width: 100%;

  h3 {
    margin: 0 0 12px 0;
  }
}

.question-card {
    background: #FFFFFF;
    border-radius: 8px;
    margin: 8px 0 8px 0;
    padding: 20px 20px 16px 20px;
    width: 100%;
}

.kahoot-embed {
  border-radius: 8px;
  margin: 12px 0 8px 0;
  padding: 0;
  width: 100%;
  height: 550px;
  border-width: 0;
}

.office-forms-embed {
  border: none;
  width: 100%;
  margin: 12px 0 8px 0;
  max-width:100%;
  max-height:100vh;
  height: 480px;
}

.rs-theme-dark {
  .textbook-page {

    .chapter-panel-group {
      background: @B800-dark;

      .rs-panel-body {
        background: @B700-dark;
      }
    }
  }

  .textbook-card {
    background: @B800-dark;
  }

  .code-text-panel {
    background: @B700-dark;
  }

  .code-editor-iframe {
    width:100%;
    height:500px;
    border:0;
    border-radius: 4px;
    overflow:hidden;
  }

  .mcq-form {
    background: @B900-dark;
    border-radius: 8px;
    margin: 8px 0 8px 0;
    padding: 24px;
    width: 100%;
  }

  .question-card {
    background: @B800-dark;
    border-radius: 8px;
    margin: 8px 0 8px 0;
    padding: 20px 20px 16px 20px;
    width: 100%;
  }
}