.parsonsProblem{
    background-color: #8eb1c2;
    right: 100px;
    border-radius: 10px;
}

.parsons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14;
    color: var(--black);
    margin-top: 20px;
    font-weight: 700px;
    border: none;
    column-gap: 50px;
}


.submitButton{
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
    margin: 3px;
}


.insertButton{
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
    margin: 3px;
}

.insertButton:disabled{
    background-color: silver;
}

.deleteButton{
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
    margin: 3px;
}

.cntrlButtons{
    display: flex;
    justify-content: center;
}

.resetButton{
    background-color: var(--blue);
    border-radius: 8px;
    height: 30px;
    width: 150px;
    color:white;
}


.codeLine{
    display: flex;
    row-gap: 50px;
    //background-color: orange;
    border-radius: 8px;
    width: 200px;
    justify-content: space-evenly;
}

//Text Question
.question{
    display: flex;
    justify-content: center;
    color: black;
}
