.parsons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.Submitbutton{
    background-color: aqua;
    border-radius: 8px;
}

.Insertbutton{
    background-color: aqua;
    border-radius: 8px;
}

.codeLine{
    display: flex;
    row-gap: 50px;
    //background-color: orange;
    border-radius: 8px;
    width: 200px;
    justify-content: space-evenly;
}

.item{
    background-color: red;
}