.container {
    margin: 60px;
}

.welcome {
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    color:var(--black);
}

.main-content {
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink:0;
}

.status {
    width: 66%;
    height: 120px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 30px;
    border-right: 2px solid var(--light-gray);
    min-width:fit-content;
}

.progress-circle {
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    flex-shrink:0;
}

.status-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 10px;
    
}


.status-header {
    font-size: 16;
    font-weight: 700;
}

.button {
    background-color: var(--blue);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    flex-shrink:0;
    width: 122px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05,1.05);
    

}

.game {
    width: 33%;
    margin-top: -10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    min-width: 100px;

}

.game-text{
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}


.game-img {
    width: 200px;
}

.game-img:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.active-textbooks{
    font-size: 20px;
    font-weight: 700;
    margin-top: 100px;

}



