.chat-container {
  position: fixed;
  margin: 0 0 0 24px;
  width: 20%;
  height: 100%;
  //overflow-y:scroll;

  .messages-container {
    position: fixed;
    overflow-y:scroll;
    width: 18%;
    height: 60%;
  }

  .message-input {
    //position: fixed;
    //bottom: 0;
    //width: 18%;
    //height: 10%;
  }
}

.textbook-message {
  .rs-panel-header {
    padding-left: 0;
    padding-top: 0;
  }

  .rs-panel-body {
    padding-left: 0;
  }
}